.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
.node text {
  font: 12px helvetica;
}
#search {
	padding: 10px;
}
button {
	padding: 10px;
}
.ui-autocomplete {
    background: #b3d9ff;
	margin-right: 95%; 
}

